*.log
*.bin
/Superhero_fitness/Saved/Config/CrashReportClient
/Superhero_fitness/Saved/Config/WindowsEditor
/Superhero_fitness/Saved/Autosaves
/Superhero_fitness/Saved/Config/WindowsEditor
/Superhero_fitness/Saved
